@model Lab1Task.Models.Player
@{
    ViewBag.Title = "Player";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Player</h2>

<h2>ID:</h2>
<text>@Model.Id</text>

<h2>Name:</h2>
<text>@Model.Name</text>

<h2>Salary:</h2>
<text>@Model.Salary</text>

