@model Lab1Task.Models.Stadium
@{
    ViewBag.Title = "Stadium";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stadium</h2>

<h2>Location:</h2>
<text>@Model.Location</text>

<h2>Capacity:</h2>
<text>@Model.Capacity</text>

