@model Lab1Task.Models.Staff
@{
    ViewBag.Title = "Staff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Staff</h2>

<h2>ID:</h2>
<text>@Model.Id</text>

<h2>Name:</h2>
<text>@Model.Name</text>

<h2>Position:</h2>
<text>@Model.Position</text>

